<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Fetcher Page</title>
    <script src="/js/jquery-3.5.1.min.js" charset="utf-8"></script>
  </head>
  <body>
    <form class="" action="/data" method="post">
      <label for="company_id">Individual Company Lookup (id of company)</label>
      <input type="text" name="company_id" id="company_id" value="" placeholder="16450">
      <input type="hidden" name="fields_required" class="fields_required" value="">
      <input type="submit" name="" value="Fetch">
    </form>


    <form class="" action="/port_data" method="post">
      <label for="port_id_list">Portfolio Lookup</label>
      <input type="text" name="port_id_list" id="port_id_list" value="" placeholder="11787,4289,9089">
      <input type="hidden" name="fields_required" class="fields_required" value="">
      <input type="submit" name="" value="Fetch">
    </form>

    <hr>

    <label for="wanted_fields">Wanted Fields</label> <br>
    <textarea name="" cols="45" rows="55" id="wanted_fields">
      {{ fields }}
    </textarea>
    <a href="/fields_request">View all fields</a>

    <script type="text/javascript">
      $('#wanted_fields').change(function() {
        update_fields()
      })

      $('#wanted_fields').keyup(function() {
        update_fields()
      });

      function update_fields() {
        text_of_fields = $('#wanted_fields').val()
        $('.fields_required').val(text_of_fields)
      }

      update_fields()
    </script>

  </body>
</html>
